*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border-bottom: 1px solid #ccc ;
  height: 64px;
}

.header-search {
  display: flex;
  align-items: center;
  /* width: 70%; */
  background-color: #f2f3f5;
  border-radius: 7px;
  height: 45px;

}
.header-icons{
  display: flex;
  align-items: center;

  /* width: 15%; */
}

.header-logo img{
  width: 107px;
  margin: 2px;

}
.header-search img {
  width: 25px;
  height: 25px;
  margin: 10px;
  filter: invert(40%)
}
.header-search input {
  width: 400px;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 18px;
  color: dimgray;
}

.icon{
  width: 25px;
  height: 25px;
  margin: 12px;
  filter: invert(40%)
}

.photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

.hidden-input{
  display: none;
}

.sidebar-container{
  display: flex;
}

.sidebar{
  width: 250px;
}

.content{
  width: calc(100%);
  margin-left: 30px;
  /* width: calc(100%-250px); */
}

.sidebar-button{
  display: flex;
  height: 48px;
  width: 120px;
  margin: 12px;
  border-radius: 24px;
  /* padding: 20px; */
  border: 1px solid #e4e4e4 ;
  /* background-color: #f2f3f5; */
  box-shadow: 0px 2px 2px 0px #00000060;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar-button svg {
  font-size: 30px;
  filter: invert(40%);
  margin: 6px;
}

.folders{
  margin-left: 0px;
  border-bottom: 1px solid #ccc ;
}

.my-folder{
  background-color: #e8f0fd;
  height: 42px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.my-folder span{
  color: #2959ae;
  font-size: 14px;
  font-weight: bold;
}

.folders span{
  margin-left: 20px;
}

.folder{
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  filter: invert(40%);
  cursor: pointer;
}

.folders svg{
  filter: invert(40%);
  font-size: 22px;
  margin-left: 20px;
}

.top-content{
  /* filter: invert(10%); */
  font-size: 20px;
  font-weight:400;
  border-bottom: 1px solid #ccc ;
  height: 50px;
  display: flex;
  align-items: center;
}

.progress{
  position: absolute;
  height: 60px;
  width: 250px;
  background-color:#f2f3f5;
  box-shadow: 0px 2px 2px 0px #00000060;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  /* margin-left: 30px; */
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  /* z-index: 2; */
  /* top: 50px; */
  /* left: 200px; */
}

.boxFiles{
  display: flex;
  flex-direction: column;
  height: 70px;

}

.boxFile{
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #e4e4e4 ;
  cursor: pointer;

}

/* .boxFile a{
  display: block;

} */

.header-content{
  display: flex;
/*   filter: invert(25%); */
  height: 40px;
  align-items: center;
  border-bottom: 1px solid #e4e4e4 ;
  color: #ccc;
  /* background-color: #f2f3f5; */

}

.header-content h5{

  color: #555555;


}

.header-name{
  width: 35%;
}
.header-owner{
  width: 20%;
  
}
.header-date{
  width: 20%;
  
}
.header-size{
  width: 15%;
  
}

.header-name-field{
  width: 35%;
  display: flex;
  align-items: center;
  height: 40px;
  color: #3b3b3b;
  font-size: 15px;
}
.header-owner-field{
  width: 20%;
  display: flex;
  align-items: center;
  color: #3b3b3b;
  font-size: 15px;
  
}
.header-date-field{
  width: 20%;
  display: flex;
  align-items: center;
  color: #3b3b3b;
  font-size: 15px;
  
}
.header-size-field{
  width: 15%;
  display: flex;
  align-items: center;
  color: #3b3b3b;
  font-size: 15px;
  
}

.icon-field{
    margin-right: 15px;
    /* background-color: #e9e9e9; */
    height: 20px;
    width: 20px;
    /* border: 1px solid #e4e4e4 ; */
    filter: invert(30%);

}

#icon-field-{
  margin-left: 5px;
}

.button-loggout{
  background-color: #1a73e9;
  border: 0;
  border-radius: 5px;
  color: beige;
  font-weight: bold;
  height: 44px;
  width: 150px;
  font-size: 15px;
  cursor: pointer;
}
.button-loggout:hover{

  background-color: #1f58a3;
}